/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
/* line 41, ../sass/global.styles.scss */
html {
  background: #fff;
}

/* line 45, ../sass/global.styles.scss */
body {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Montserrat, "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 95%;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
/* line 135, ../sass/global.styles.scss */
pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */
/*
 * Wraps all header elements - branding and .region-header
 */
/* line 171, ../sass/global.styles.scss */
#header {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: 3px solid #cf112d;
}

/*
 * Wraps the sidebars the content column
 */
/*
 * Main content column wrapper
 */
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */
/*
 * Footer wrapper
 */
/*
 * Panels may need additional margin wrangling when in the $content region
 */
/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps the leaderboard
 */
/*
 * Wraps the header
 */
/*
 * Wraps the nav elements
 */
/* line 245, ../sass/global.styles.scss */
#nav-wrapper {
  flex: 1 1 auto;
}

/*
 * Wraps breadcrumb
 */
/*
 * Wraps messages and help
 */
/*
 * Wraps the secondary content/preface region
 */
/*
 * Wraps the main content column
 */
/*
 * Wraps the tertiary content/postfix region
 */
/*
 * Footer wrapper
 */
/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/* line 307, ../sass/global.styles.scss */
#branding {
  display: flex;
  align-items: center;
  padding-right: 15px;
  margin-right: 0px;
  height: 73px;
}

/*
 * Logo
 */
/* line 319, ../sass/global.styles.scss */
#logo {
  padding-right: 10px;
}
/* line 321, ../sass/global.styles.scss */
#logo img {
  height: 40px;
}

/*
 * Wrapper for the site name and slogan
 */
/* line 331, ../sass/global.styles.scss */
#name-and-slogan a {
  display: flex;
  flex-direction: column;
}
/* line 334, ../sass/global.styles.scss */
#name-and-slogan a:link, #name-and-slogan a:visited {
  text-decoration: none;
  color: black;
}
/* line 339, ../sass/global.styles.scss */
#name-and-slogan a:hover, #name-and-slogan a:focus {
  text-decoration: none;
  color: #cf112d;
  transition-property: color;
  transition-duration: 0.3s;
}

/*
 * Site name (h1)
 */
/* line 353, ../sass/global.styles.scss */
#site-name {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
}

/*
 * Site slogan (h2)
 */
/* line 365, ../sass/global.styles.scss */
#site-slogan {
  margin: 0;
  line-height: 1;
  font-size: 0.8rem;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/*
 * The main page title (h1)
 */
/* line 385, ../sass/global.styles.scss */
#page-title {
  margin: 0;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */
/*
 * Aggregator feed source
 */
/* line 403, ../sass/global.styles.scss */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

/* line 410, ../sass/global.styles.scss */
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
/* line 426, ../sass/global.styles.scss */
ul.links {
  margin: 0;
  padding: 0;
}
/* line 430, ../sass/global.styles.scss */
ul.links.inline {
  display: block;
}
/* line 434, ../sass/global.styles.scss */
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
/* line 445, ../sass/global.styles.scss */
.search-results {
  margin: 0;
  padding: 0;
}

/*
 * Attribution message and link
 */
/* line 454, ../sass/global.styles.scss */
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;
}
/* line 460, ../sass/global.styles.scss */
.attribution a {
  text-decoration: none;
  color: inherit;
}
/* line 464, ../sass/global.styles.scss */
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/*
 * Header region, embedded in the #header
 */
/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/*
 * Sidebars - targets both
 */
/*
 * First sidebar
 */
/*
 * Second sidebar
 */
/*
 * Tertiary content
 */
/*
 * Footer region
 */
/* =============================================================================
 *   Links
 * ========================================================================== */
/* line 558, ../sass/global.styles.scss */
a {
  text-decoration: none;
}
/* line 567, ../sass/global.styles.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
/* line 578, ../sass/global.styles.scss */
#primary-menu-bar {
  font-size: 1.1rem;
}
/* line 581, ../sass/global.styles.scss */
#primary-menu-bar nav {
  margin: 0px;
}
/* line 584, ../sass/global.styles.scss */
#primary-menu-bar nav li a,
#primary-menu-bar nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 15px;
}
/* line 590, ../sass/global.styles.scss */
#primary-menu-bar nav li a:link, #primary-menu-bar nav li a:visited,
#primary-menu-bar nav ul.menu li a:link,
#primary-menu-bar nav ul.menu li a:visited {
  text-decoration: none;
  color: black;
}
/* line 596, ../sass/global.styles.scss */
#primary-menu-bar nav li a:hover, #primary-menu-bar nav li a:focus,
#primary-menu-bar nav ul.menu li a:hover,
#primary-menu-bar nav ul.menu li a:focus {
  text-decoration: none;
  color: #cf112d;
  transition-property: color;
  transition-duration: 0.3s;
}

/* line 608, ../sass/global.styles.scss */
.nav {
  clear: both;
  margin: 10px 0;
}
/* line 612, ../sass/global.styles.scss */
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
/* line 618, ../sass/global.styles.scss */
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 627, ../sass/global.styles.scss */
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 15px;
}
/* line 633, ../sass/global.styles.scss */
.nav li a:link, .nav li a:visited,
.nav ul.menu li a:link,
.nav ul.menu li a:visited {
  text-decoration: none;
  color: black;
}
/* line 639, ../sass/global.styles.scss */
.nav li a:hover, .nav li a:focus,
.nav ul.menu li a:hover,
.nav ul.menu li a:focus {
  text-decoration: none;
  color: #cf112d;
  transition-property: color;
  transition-duration: 0.3s;
}
/* line 648, ../sass/global.styles.scss */
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */
/* line 658, ../sass/global.styles.scss */
ul.sf-menu {
  margin-bottom: 0;
}
/* line 661, ../sass/global.styles.scss */
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
/* line 674, ../sass/global.styles.scss */
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
/* line 681, ../sass/global.styles.scss */
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
/* line 697, ../sass/global.styles.scss */
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 708, ../sass/global.styles.scss */
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
/* line 718, ../sass/global.styles.scss */
.sf-vertical {
  width: 100%;
}
/* line 721, ../sass/global.styles.scss */
.sf-vertical li {
  width: 100%;
}
/* line 726, ../sass/global.styles.scss */
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 734, ../sass/global.styles.scss */
.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
/* line 744, ../sass/global.styles.scss */
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
/* line 752, ../sass/global.styles.scss */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
/* line 762, ../sass/global.styles.scss */
.at-mt .at-menu-toggle,
.at-mt .at-menu-toggle ul,
.at-mt .at-menu-toggle ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
/* line 770, ../sass/global.styles.scss */
.at-mt .at-menu-toggle-button {
  margin: 0;
}
/* line 774, ../sass/global.styles.scss */
.at-mt .at-menu-toggle ul a {
  padding: 0 10px;
  white-space: nowrap;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
/* line 785, ../sass/global.styles.scss */
ul.menu {
  padding-left: 15px;
}
/* line 788, ../sass/global.styles.scss */
ul.menu ul {
  padding-left: 15px;
}
/* line 796, ../sass/global.styles.scss */
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
/* line 825, ../sass/global.styles.scss */
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */
/* line 842, ../sass/global.styles.scss */
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
/* line 848, ../sass/global.styles.scss */
.book-navigation .menu {
  margin-left: 0;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
/* line 858, ../sass/global.styles.scss */
#breadcrumb {
  margin: 10px 0;
  /* If the label is set to show in theme settings the label class is added */
}
/* line 862, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
/* line 867, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
/* line 872, ../sass/global.styles.scss */
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 877, ../sass/global.styles.scss */
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
/* line 881, ../sass/global.styles.scss */
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
/* line 908, ../sass/global.styles.scss */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

/* line 915, ../sass/global.styles.scss */
.item-list ul.pager li {
  margin: 0;
}

/* line 920, ../sass/global.styles.scss */
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
/* line 926, ../sass/global.styles.scss */
ul.pager li.pager-current {
  font-weight: 700;
}

/* line 932, ../sass/global.styles.scss */
.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
/* line 969, ../sass/global.styles.scss */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
/* line 978, ../sass/global.styles.scss */
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 988, ../sass/global.styles.scss */
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 999, ../sass/global.styles.scss */
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
/* line 1012, ../sass/global.styles.scss */
#tasks {
  margin-bottom: 15px;
}

/* line 1017, ../sass/global.styles.scss */
ul.primary {
  border-bottom-color: #ccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}
/* line 1022, ../sass/global.styles.scss */
ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}
/* line 1027, ../sass/global.styles.scss */
ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
/* line 1037, ../sass/global.styles.scss */
ul.primary li a:hover, ul.primary li a:focus {
  background-color: #eee;
  border-color: #ccc;
}
/* line 1046, ../sass/global.styles.scss */
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #fff;
  border-bottom-color: #fff;
}

/* line 1056, ../sass/global.styles.scss */
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
/* line 1061, ../sass/global.styles.scss */
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
/* line 1067, ../sass/global.styles.scss */
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
/* line 1081, ../sass/global.styles.scss */
ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */
/*
 * Above and inline classes are on the field wrapper
 */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
/* line 1108, ../sass/global.styles.scss */
.field-label-inline {
  /* Remove the margin on inline field lables to preserve vertical formatting */
}
/* line 1111, ../sass/global.styles.scss */
.field-label-inline .field-label {
  margin: 0;
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
/* line 1119, ../sass/global.styles.scss */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
/*
 * Taxonomy
 */
/* line 1148, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}
/* line 1153, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
/* line 1158, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
/*
 * Long text
 */
/*
 * Text with summary
 */
/*
 * File
 */
/*
 * Number/Integer
 */
/*
 * Decimal
 */
/*
 * Number float
 */
/*
 * List
 */
/*
 * List boolean
 */
/*
 * List integer
 */
/*
 * List float
 */
/*
 * Field types (Contrib)
 */
/*
 * Named fields
 */
/*
 * Underscores in field name are replaced with dashes
 */
/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float none setting
 */
/*
 * Float left setting
 */
/* line 1272, ../sass/global.styles.scss */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
/* line 1281, ../sass/global.styles.scss */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
/* line 1290, ../sass/global.styles.scss */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
/* line 1304, ../sass/global.styles.scss */
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
/*
 * The first block in the region
 */
/*
 * The last block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Block title
 */
/* line 1342, ../sass/global.styles.scss */
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
/*
 * Match item list and block menu margin and padding
 */
/* line 1358, ../sass/global.styles.scss */
.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}
/* line 1363, ../sass/global.styles.scss */
.block-content li {
  margin: 0;
  padding: 0;
}

/*
 * Block for the latest news items in the first category
 */
/*
 * Block for the latest news items in the first feed
 */
/*
 * First block created with "Add block" link
 */
/*
 * "Recent blog posts" block
 */
/*
 * "Book navigation" block for the current book's table of contents
 */
/*
 * "Recent comments" block
 */
/*
 * "Active forum topics" block
 */
/*
 * "New forum topics" block
 */
/*
 * Language switcher block
 */
/*
 * Custom menu block
 */
/*
 * "Recent content" block
 */
/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
/*
 * "Most recent poll" block
 */
/*
 * "Author information" block for the profile of the page's author
 */
/*
 * "Search form" block
 */
/*
 * "Shortcuts" block
 */
/*
 * "Popular content" block
 */
/*
 * "Main menu" block
 */
/*
 * "Management" block for Drupal management menu
 */
/*
 * "Navigation" block for Drupal navigation menu
 */
/*
 * "User menu" block for Drupal user menu
 */
/*
 * "System help" block
 */
/*
 * "Main page content" block
 */
/*
 * "Powered by Drupal" block
 */
/*
 * "User login form" block
 */
/*
 * "Who's new" block for a list of the newest users
 */
/*
 * "Who's online" block for a list of the online users
 */
/* =============================================================================
 *   Node Styling
 * ========================================================================== */
/* line 1536, ../sass/global.styles.scss */
.node {
  margin-bottom: 20px;
}
/* line 1553, ../sass/global.styles.scss */
.node .node-title {
  margin: 0;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
/* line 1611, ../sass/global.styles.scss */
#comments {
  margin: 1.5em 0;
}
/* line 1615, ../sass/global.styles.scss */
#comments h2.comment-title {
  margin: 0;
}
/* line 1619, ../sass/global.styles.scss */
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
/* line 1629, ../sass/global.styles.scss */
.comment {
  margin-bottom: 20px;
}

/*
 * Comment title
 */
/* line 1660, ../sass/global.styles.scss */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
/* line 1692, ../sass/global.styles.scss */
.new {
  color: #c00;
}

/*
 * Nested comments are indented
 */
/* line 1700, ../sass/global.styles.scss */
.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/* line 1714, ../sass/global.styles.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}
/* line 1720, ../sass/global.styles.scss */
.form-item label {
  font-weight: 700;
}
/* line 1727, ../sass/global.styles.scss */
.form-item .description {
  font-size: 0.85em;
}

/*
 * Highlight marks and form required mark
 */
/* line 1740, ../sass/global.styles.scss */
.marker,
.form-required {
  color: #c00;
}

/*
 * The submit button
 */
/* line 1754, ../sass/global.styles.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
/* line 1763, ../sass/global.styles.scss */
fieldset {
  border: 1px solid #ccc;
}

/*
 * Tips for Drupal's input formats
 */
/*
 * Buttons used by contrib modules like Media
 */
/* line 1777, ../sass/global.styles.scss */
a.button {
  -moz-appearance: button;
  -webkit-appearance: button;
}

/*
 * Password confirmation
 */
/* line 1785, ../sass/global.styles.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
/* line 1795, ../sass/global.styles.scss */
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
/* line 1800, ../sass/global.styles.scss */
table.sticky-header {
  z-index: 10;
}

/* line 1806, ../sass/global.styles.scss */
table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

/* line 1816, ../sass/global.styles.scss */
table,
td,
th {
  vertical-align: middle;
}

/* line 1823, ../sass/global.styles.scss */
caption,
th,
td {
  text-align: left;
}

/* line 1830, ../sass/global.styles.scss */
thead tr {
  font-weight: 700;
  background-color: #e5e5e5;
}

/* line 1836, ../sass/global.styles.scss */
td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

/* line 1847, ../sass/global.styles.scss */
tbody tr {
  border-top: 1px solid #ccc;
}

/* line 1852, ../sass/global.styles.scss */
tr {
  /* Table row striping */
}
/* line 1854, ../sass/global.styles.scss */
tr.odd {
  background: #fff;
}
/* line 1859, ../sass/global.styles.scss */
tr.info, tr.even, tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: #f5f5f5;
}
/* line 1870, ../sass/global.styles.scss */
tr.odd td.active {
  background-color: #eee;
}
/* line 1874, ../sass/global.styles.scss */
tr.even td.active {
  background-color: #ebebeb;
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
/* line 1897, ../sass/global.styles.scss */
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: normal;
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
/* line 1913, ../sass/global.styles.scss */
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 1918, ../sass/global.styles.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Unpublished nodes
 */
/* line 1959, ../sass/global.styles.scss */
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
/* line 191, ../sass/_custom.scss */
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
/* line 1970, ../sass/global.styles.scss */
.maintenance-page .container {
  padding: 40px 0;
}
/* line 1974, ../sass/global.styles.scss */
.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

/* line 1982, ../sass/global.styles.scss */
.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}
/* line 1989, ../sass/global.styles.scss */
.db-offline div.messages {
  margin: 20px 0 0;
}
/* line 1993, ../sass/global.styles.scss */
.db-offline #content {
  padding: 20px 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
/* line 2006, ../sass/global.styles.scss */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
/* line 2015, ../sass/global.styles.scss */
.dev-query {
  background: #eee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
/* line 2024, ../sass/global.styles.scss */
#styleguide-header {
  padding: 0 10px;
}
/* line 2027, ../sass/global.styles.scss */
#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}

/* =============================================================================
 *   Frontpage
 * ========================================================================== */
/* line 2040, ../sass/global.styles.scss */
body.front #main-content {
  margin: 0px;
}
/* line 2042, ../sass/global.styles.scss */
body.front #main-content div.block.first {
  margin: 0px;
  background-image: linear-gradient(rgba(51, 10, 10, 0.73), rgba(51, 10, 10, 0.73)), url(images/bigsearch.jpg);
  background-position: 50%;
  background-size: 100%;
}
/* line 2051, ../sass/global.styles.scss */
body.front #main-content div.block.first .row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 300px;
}
/* line 2058, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #searchcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 560px;
  min-height: 300px;
  padding: 0px 50px;
}
/* line 2066, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #searchcontainer form {
  display: flex;
  width: 100%;
}
/* line 2069, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #searchcontainer form input[type='text'] {
  flex: 1 1 auto;
  font-size: 1.3rem;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding: 20px;
}
/* line 2077, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #searchcontainer form input[type='submit'] {
  flex: 0 1 auto;
  font-size: 1.1rem;
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 10px 20px;
}
/* line 2086, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #searchcontainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0px;
}
/* line 2093, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #searchcontainer ul li {
  list-style: none;
  padding: 0px 10px;
}
/* line 2096, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #searchcontainer ul li a {
  color: white;
}
/* line 2103, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #quicklinks {
  background: lightgrey;
  padding: 20px;
}
/* line 2107, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #quicklinks h2 {
  text-align: center;
  margin: 0px 0px 0px 5px;
}
/* line 2111, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #quicklinks ul {
  padding: 0px;
  margin: 0px;
}
/* line 2114, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #quicklinks ul li {
  list-style: none;
}
/* line 2116, ../sass/global.styles.scss */
body.front #main-content div.block.first .row #quicklinks ul li a {
  font-size: 1rem;
  color: black;
}

/*# sourceMappingURL=global.styles.css.map */
