/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* line 15, ../sass/responsive.desktop.scss */
#menu-bar {
  flex: 1 1 auto;
  border-left: 1px solid #eee;
  align-items: center;
  margin: 0px;
}
/* line 21, ../sass/responsive.desktop.scss */
#menu-bar li.sf-item-6.sf-depth-1, #menu-bar li.sf-item-7.sf-depth-1 {
  display: none;
}
/* line 25, ../sass/responsive.desktop.scss */
#menu-bar li.sf-depth-2 img {
  display: none;
}
/* line 29, ../sass/responsive.desktop.scss */
#menu-bar li.sf-depth-2.last img {
  display: inline;
  margin: 0px 10px 0px 0px;
  transform: rotate(-90deg);
}
/* line 36, ../sass/responsive.desktop.scss */
#menu-bar li.sf-depth-1 a img {
  width: 10px;
  margin-left: 5px;
  transition: filter 0.1s ease-in-out;
  filter: none;
  transition: transform 0.1s ease-in-out;
  transform: rotate(0deg);
}
/* line 46, ../sass/responsive.desktop.scss */
#menu-bar li.sf-depth-1 a:focus img, #menu-bar li.sf-depth-1 a:hover img {
  filter: invert(14%) sepia(70%) saturate(4801%) hue-rotate(342deg) brightness(88%) contrast(99%);
}
/* line 51, ../sass/responsive.desktop.scss */
#menu-bar li.sf-depth-1 a.sf-clicked img {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}
/* line 57, ../sass/responsive.desktop.scss */
#menu-bar nav > ul {
  display: flex;
}
/* line 61, ../sass/responsive.desktop.scss */
#menu-bar nav {
  margin: 0px;
}

/* line 66, ../sass/responsive.desktop.scss */
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  top: 70px;
}
/* line 68, ../sass/responsive.desktop.scss */
.sf-menu li:hover > ul a, .sf-menu li.sfHover > ul a {
  padding: 5px 15px;
  background: white;
}

/* line 74, ../sass/responsive.desktop.scss */
.nav-widget {
  display: block;
  flex: 1 1 auto;
  max-width: 150px;
  border-left: 1px solid #eee;
}
/* line 81, ../sass/responsive.desktop.scss */
.nav-widget a {
  min-width: 100px;
}
/* line 83, ../sass/responsive.desktop.scss */
.nav-widget a img {
  transition: filter 0.1s ease-in-out;
  filter: none;
  height: 24px;
}
/* line 90, ../sass/responsive.desktop.scss */
.nav-widget a:focus img, .nav-widget a:hover img {
  filter: invert(14%) sepia(70%) saturate(4801%) hue-rotate(342deg) brightness(88%) contrast(99%);
}
/* line 96, ../sass/responsive.desktop.scss */
.nav-widget img {
  padding-right: 10px;
}

/* line 101, ../sass/responsive.desktop.scss */
#nav-wrapper {
  flex: 1 1 auto;
}

/* line 106, ../sass/responsive.desktop.scss */
#branding {
  flex: 0 0 auto;
}

/* line 115, ../sass/responsive.desktop.scss */
body.front #main-content #content > div:nth-child(1) #summon-box form input[type='text'] {
  font-size: 1.3rem;
}
/* line 118, ../sass/responsive.desktop.scss */
body.front #main-content #content > div:nth-child(1) #summon-box form input[type='submit'] {
  font-size: 1.3rem;
}
/* line 124, ../sass/responsive.desktop.scss */
body.front #main-content #content > div:nth-child(1) #summon-box ul li a {
  color: white;
  font-size: 1.1rem;
}

/*# sourceMappingURL=responsive.desktop.css.map */
