#header-wrapper {
  background: none !important;
  color: black;
  a {
    color: black;
  }
}

a {
  background: transparent;
  text-decoration: underline;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}

.guide-accordion-content-collapsed {
    max-height: 9999px;
}

/*
 * Hide various bits of the page
 */
#footer,
#tertiary-content-wrapper,
.region-footer,
.field-type-taxonomy-term-reference,
.feed-icon,
.poll .bar,
.poll .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs,
.action-links,
.pager,
.messages,
.help,
#tasks,
.guide-accordion-header-permalink {
  display: none;
}

.submitted {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.submitted a {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
