
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

#menu-bar {
  border-left: $carleton_light_border;
  margin: 0px;
  float: left;
  height: $menubar_height;

  li.sf-item-1.sf-depth-1, li.sf-item-2.sf-depth-1 {
    display: none;
  }

  li.sf-depth-2 img {
    display: none;
  }

  li.sf-depth-2.last img {
    display: inline;
    margin: 0px 10px 0px 0px;
    transform: rotate(-90deg);
  }

  li.sf-depth-1 a {
    display: block;
    padding-top: ($menubar_height - 40px) / 2;
    padding-bottom: ($menubar_height - 41px) / 2;
    padding-left: 10px;
    padding-right: 10px;
    img {
      width: 10px;
      height: 10px;
      margin-left: 8px;
      transition: filter 0.1s ease-in-out;
      filter: none;
      transition: transform 0.1s ease-in-out;
      transform: rotate(0deg);
    }
    &:focus,
    &:hover {
      img {
        filter: invert(14%) sepia(70%) saturate(4801%) hue-rotate(342deg) brightness(88%) contrast(99%);
      }
    }

    &.sf-clicked img {
      transform: rotate(180deg);
      transition: transform 0.1s ease-in-out;
    }
  }

  nav > ul {
  }

  nav {
    margin: 0px;
  }
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  top: $menubar_height;
  a {
    padding: 5px 15px;
    background: white;
  }
}

.nav-widget {
  width: 90px;
  display: block;
  float: right;
  height: $menubar_height;

  border-left: $carleton_light_border;

  a {
    padding-top: ($menubar_height - 24px) / 2;
    padding-bottom: ($menubar_height - 25px) / 2;
    padding-left: 7px;
    display: block;
    span {
      position: relative;
      top: -1px;
    }
    img {
      transition: filter 0.1s ease-in-out;
      filter: none;
      height: 15px;
      width: 15px;
    }
    &:focus,
    &:hover {
      img {
        filter: invert(14%) sepia(70%) saturate(4801%) hue-rotate(342deg) brightness(88%) contrast(99%);
      }
    }
  }

  img {
    padding-right: 5px;
  }
}

#nav-wrapper {
}


#branding {
}

$search_widget_height: 64px;
$first_row_height: 300px;
$search_ul_height: 21px;

body.front {
  #main-content {
    #content > div:nth-child(1) {
      height: $first_row_height;
      #summon-box {
        font-size: 1.3rem;
        margin-top: ($first_row_height - ($search_widget_height + $search_ul_height)) / 2;
        form {
          input[type='text'] {
            height: $search_widget_height;
          }
          input[type='submit'] {
            height: $search_widget_height;
            position: relative;
            top: -$search_widget_height;
          }
        }
        ul {
          float: left;
          width: 100%;
          position: relative;
          top: -56px;
          font-size: 1.1rem;
          height: $search_ul_height;
          li {
            padding: 0px 13px;
          }
        }
      }

      div.pane-views-hours-today-block {
        margin-top: ($first_row_height - 225px) / 2;

        div.view-id-hours_today {
          padding: 8px 30px;
          margin-left: 90px;

          div.view-content {
            font-size: 150%;
            margin-top: 0px;
            margin-bottom: 0.83em;
          }
        }
      }
    }
    #content > div:nth-child(2) {
      div.card {
        min-height: 287px;
        div.icon-header {
          padding-top: 40px;
        }
      }
    }
    #content > div:nth-child(3) {
      div.at-panel {
        div.region-two-50-first {
          div.view-news-random-image {
            div.slide-title {
              bottom: 15px;
              left: 15px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

#footer > div > div {
  > :nth-child(1) {
    float: left;
  }
  > :nth-child(2) {
    float: left;
    width: 200px;
  }
  > :nth-child(3) {
    float: left;
    border-left: $carleton_footer_seperator;
    padding-left: 20px;
  }
  > :nth-child(4) {
    float: right;
    border-left: $carleton_footer_seperator;
    height: 293px;
    padding-right: 30px;
  }

  #social-links {
    float: right;
    position: relative;
    top: -40px;
  }

}

/*
 * Sidebars - targets both
 */
.sidebar {
  section.block, nav.block, .block-24 {
    padding: 5%;
    border-radius: $rounded_radius;
    border-left: $carleton_dark_border;
    border-right: $carleton_dark_border;
  }
}

/* Notice box */
#block-block-38 {
  div.site-notice {
    padding: 10px;
    font-size: 120%;
    img {
      display: inline;
      position: relative;
      top: 5px;
      margin-right: 10px;
    }
    div {
      display: inline;
    }
  }
}

/* Alert box */
#block-block-64 {
  div.site-alert {
    padding: 10px;
    font-size: 120%;
    margin: 10px auto;
    border: 4px solid red;
    img {
      display: inline;
      position: relative;
      top: 5px;
      margin-right: 10px;
    }
    div {
      display: inline;
    }
  }
}
