
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */


$search_widget_height: 64px;
$first_row_height: 300px;
$search_ul_height: 21px;

body.front {
  #main-content {
    #content > div:nth-child(1) {
      height: $first_row_height;
      #summon-box {
        font-size: 1.0rem;
        margin-top: ($first_row_height - ($search_widget_height + $search_ul_height)) / 2;
        form {
          input[type='text'] {
            height: $search_widget_height;
          }
          input[type='submit'] {
            height: $search_widget_height;
            position: relative;
            top: -$search_widget_height;
          }
        }
        ul {
          float: left;
          width: 100%;
          position: relative;
          top: -56px;
          font-size: 0.9rem;
          li {
            padding: 0px 6px;
          }
        }
      }

      div.pane-views-hours-today-block {
        margin-top: ($first_row_height - 200px) / 2;

        div.view-id-hours_today {
          padding: 8px 10px;

          h2 {
            margin: 10px 0px;
            font-size: 1.3rem;
          }

          div.view-content {
            font-size: 110%;
            margin-top: 0px;
            margin-bottom: 0.83em;
          }
        }
      }
    }
    #content > div:nth-child(2) {
      div.region-four-first {
        background: #fff;
      }
      div.region-four-second {
        background: $carleton_lightgrey;
      }
      div.region-four-third {
        background: $carleton_lightgrey;
      }
      div.region-four-fourth {
        background: #fff;
      }
    }
  }
}

/* Notice box */
#block-block-38 {
  div.site-notice {
    padding: 10px;
    font-size: 110%;
    img {
      display: inline;
      position: relative;
      top: 5px;
      margin-right: 10px;
    }
    div {
      display: inline;
    }
    div.site-notice-text-primary {
      font-weight: 500;
    }
    span.site-notice-text-secondary-seperator {
      color:#aaa;
      padding: 0px 6px 0px 6px;
    }
  }
}

/* Alert box */
#block-block-64 {
  div.site-alert {
    width: 310px;
    margin: 10px auto;
    overflow: auto;
    img {
      float: left;
      margin-right: 20px;
      margin-top: 12px;
    }
    div.site-alert-text {
      float: left;
    }
  }
}
