
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

#branding{
  border-right: $carleton_light_border;
}

body.front {
  #main-content {
    div.block.first {

      .row {

        flex-direction: row;
        justify-content: center;
        align-items: center;

        #searchcontainer {

          flex: 1 1 auto;

          max-width: 900px;

          form {

            input[type='text'] {

            }

            input[type='submit'] {

            }
          }

          ul {


            li{
              a {
              }
            }
          }
        }

        #quicklinks {

          max-width: 200px;

          border-radius: 3px;
          margin: 20px;

          h2 {
          }
          ul {

            li {

              a {

              }
            }
          }
        }
      }
    }
    div.block-count-3 {
      .row{
        justify-content: center;
        flex-direction: row;
        border-bottom: $carleton_light_border;
        background: linear-gradient(to right, $carleton_grey 0%,$carleton_grey 50%,#ffffff 51%);
        div.card {
          flex-direction: column;
          min-width: 250px;
          div.icon-header {
            flex-direction: row;
            min-height: 90px;
          }
        }
      }
    }
    div.block-count-4 {
      .row {
        flex-direction: row;
        #feature{
          flex: 1 1 0;
          padding: 10px;
        }
        #news {
          flex: 1 1 0;
        }
      }
    }
  }
}
